<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ByTicket</title>
</head>
<body>

    {% block content %}
    <!--Login-->
    <div class="container py-5">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" name="username">
        </div>

        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" id="id_password" name="password">
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
    </div>
    {% endblock %}

</body>
</html>